<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.name }}{% endif %}</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,600">
  <link href="https://fonts.googleapis.com/css?family=EB+Garamond" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Flamenco" rel="stylesheet">

  <link rel="stylesheet" href="{{ site.baseurl }}/style.css">
  <link rel="alternate" type="application/rss+xml" title="RSS Feed for {{ site.name }}" href="{{ site.baseurl }}/feed.xml" />
  {% seo %}
</head>
<body>
  <div class="container">
    <header class="masthead">
      <h1 class="masthead-title">
        <img src="{{ site.baseurl }}/logo.png" class="h-logo">
      </h1>
      <nav class="masthead-nav">
        {% for nav in site.nav %}
        <a href="{{site.baseurl}}{{ nav.href }}">{{ nav.name }}</a>
        {% endfor %}
      </nav>
    </header>
    {{ content }}
  </div>
</body>
</html>
